JUDGE_HTTP_PORT=8087
JUDGE_MYSQL_DSN=root:root@tcp(127.0.0.1:3306)/codewise?charset=utf8mb4&parseTime=true
JUDGE_REDIS_ADDR=127.0.0.1:6379
JUDGE_REDIS_PASSWORD=
JUDGE_RABBIT_URL=amqp://guest:guest@127.0.0.1:5672/
JUDGE_MQ_ENABLED=false
JUDGE_QUEUE=judge.queue
JUDGE_RESULT_EXCHANGE=question.exchange
JUDGE_RESULT_ROUTING_KEY=question.submit.record.routing
JUDGE_TIME_LIMIT_MS=2000
