<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.servicereview.mapper.ReviewMapper">

    <select id="getReviews" resultType="org.example.servicereview.entry.Review">
        select
            review_id,
            user_id,
            question_id,
            weight,
            easiness_factor,
            repetitions,
            interval_days,
            last_quality,
            last_review_time,
            next_review_time,
            review_count,
            status,
            create_time,
            update_time
        from review
        where user_id = #{userId}
          and status = 0
          and (
            next_review_time is null
                or next_review_time &lt; current_date + interval 1 day
            )
        order by weight desc, next_review_time asc, update_time asc
        limit #{total}
    </select>


    <update id="updateReviewBySm2" parameterType="org.example.servicereview.entry.Review">
        update review
        set easiness_factor = #{easinessFactor},
            repetitions = #{repetitions},
            interval_days = #{intervalDays},
            last_quality = #{lastQuality},
            last_review_time = #{lastReviewTime},
            next_review_time = #{nextReviewTime},
            review_count = #{reviewCount},
            status = #{status},
            update_time = #{updateTime}
        where review_id = #{reviewId}
          and user_id = #{userId}
          and question_id = #{questionId}
    </update>
    <select id="getNotRecord" resultType="org.example.servicereview.dto.ReviewReminderDto">
        select
        r.user_id,
        least(count(*), coalesce(rc.review_count, 2147483647)) AS pending_count
        from review r
        left join review_record rr
        on rr.user_id = r.user_id
        and rr.review_date = current_date
        left join review_config rc
        on rc.user_id = r.user_id
        where rr.review_record_id is null
        and r.status = 0
        and (
        r.next_review_time is null
        or r.next_review_time &lt; current_date + interval 1 day
        )
        and coalesce(rc.enable_auto_review, 1) = 1
        group by r.user_id;
    </select>

</mapper>
